In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree, model_selection

from google.colab import files

In [ ]:
uploaded_train = files.upload()

Saving train.csv to train (4).csv

In [ ]:
train = pd.read_csv('train.csv')
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
train.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [ ]:
train = train.dropna(subset = ['Embarked'])

train.loc[train['Sex'] == 'male', 'Sex'] = 0
train.loc[train['Sex'] == 'female', 'Sex'] = 1

train.loc[train['Embarked'] == 'S', 'Embarked'] = 0
train.loc[train['Embarked'] == 'C', 'Embarked'] = 1
train.loc[train['Embarked'] == 'Q', 'Embarked'] = 2

In [ ]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         0
1            2         1       1  ...  71.2833   C85         1
2            3         1       3  ...   7.9250   NaN         0
3            4         1       1  ...  53.1000  C123         0
4            5         0       3  ...   8.0500   NaN         0

[5 rows x 12 columns]

In [ ]:
features = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked']
target = ['Survived']

train_x = train[features].values
train_y = train[target].values

In [ ]:
decision_tree = tree.DecisionTreeClassifier(random_state = 1)
decision_tree.fit(train_x, train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

In [ ]:
print(decision_tree.score(train_x, train_y))

0.9246344206974129

In [ ]:
scores = model_selection.cross_val_score(decision_tree, train_x, train_y, scoring = 'accuracy', cv = 50)

In [ ]:
print(scores.mean())

0.8011764705882354

In [ ]:
uploaded_test = files.upload()

Saving test.csv to test (1).csv

In [ ]:
test = pd.read_csv('test.csv')
test.count()

PassengerId    418
Pclass         418
Name           418
Sex            418
Age            332
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64

In [ ]:
test.loc[test['PassengerId'] == 1044, 'Fare'] = 20
test.loc[test['Sex'] == 'male', 'Sex'] = 0
test.loc[test['Sex'] == 'female', 'Sex'] = 1

test.loc[test['Embarked'] == 'S', 'Embarked'] = 0
test.loc[test['Embarked'] == 'C', 'Embarked'] = 1
test.loc[test['Embarked'] == 'Q', 'Embarked'] = 2

test_prediction = decision_tree.predict(test[features])

In [ ]:
submission = pd.DataFrame()
submission['PassengerId'] = test['PassengerId']
submission['Survived'] = test_prediction
submission.head()

submission.to_csv('submission.csv', index=False, encoding = 'utf-8')
submission.head()
files.download('submission.csv')
submission.count()

PassengerId    418
Survived       418
dtype: int64